.account_wrapper {
    margin: 5rem 50rem 0 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0 3rem;
    &-form {
        
        width: 50%;
        .field {
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            gap: 10px 0;
            input{
                height: 50px;
                border: none;
                border-radius: 10px;
                background-color: #F2F2F2;
                padding-left: 10px;
                font-family: $primary-font;
            }


            &_button {
                margin: 0 auto;
                text-align: center;

                .save_btn:hover{
                    background-color: $dark-pink;
                    color: #fff;
                }
            }
        }
    }
    &-avatar{
        margin: auto;
    }

}

.account_profile {
    &-avatar{
        max-width: 15rem;
    }
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 5rem;

    &-info{
        .info_name{
            font-weight: 700;
            font-size: 24px;
        }
        .info_username{
            font-weight: 300;
            font-size: 16px;
        }
    }
}
