.header {
    height: 10%;
    background-color: #fff;
    position: fixed;
    left: 15%;
    right: 0;
    z-index: 2;
    &_main {
        margin: 12px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-search {
            width: 50%;
            .search {
                position: relative;
                input {
                    font-family: $secondary-font;
                    border: 1px solid #e6e6e6;
                    box-shadow: none;
                    color: #232323;
                    font-size: 14px;
                    height: auto;
                    line-height: 48px;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 65px;
                    border-radius: 18px;
                }
                &_input {
                    display: block;
                    width: 100%;
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #212529;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    appearance: none;
                    border-radius: 0.25rem;
                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }

                &_button {
                    position: absolute;
                    background-color: rgba(255, 255, 255, 0);
                    border: none;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    height: 50px;
                    width: 70px;
                    font-size: 16px;
                }

                input::-webkit-input-placeholder {
                    font-family: $primary-font;
                }
                input:focus {
                    box-shadow: 0 0 10px $dark-pink;
                    transition: 0.35s ease;
                }
            }
        }

        &-acc {
            position: relative;
            a {
                img {
                    width: 36px;
                    border-radius: 50%;
                }
            }
            .acc_menu {
                display: none;
                position: absolute;
                border: #f893c5 1px solid;
                border-radius: 20px;
                color: #e6e6e6;
                width: 200px;
                right: 0;
                text-decoration: none;
                flex-direction: column;
                li {
                    border-radius: 0 0 20px 20px;
                    height: 25px;
                    color: white;
                    text-decoration: none;
                }
                li:first-child{
                    border-radius: 20px 20px 0 0;
                }

                li:hover{
                    background-color: #f893c5;
                }
            }
            
        }
        .header_main-acc:hover {
            .acc_menu {
                display: flex;
            }
        }
    }
}
